.header {
  display: flex;
  padding: 0px 20px;
  justify-content: space-between;

  position: sticky;
  background-color: white;
  z-index: 1000;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.5);
}

.header__left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header__left > img {
  height: 40px;
}

.header__input {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 10px;
  margin-left: 10px;
  border-radius: 33px;
}

.header__input > input {
  border: none;
  outline-width: 0;
  background-color: transparent;
}

.header__middle {
  display: flex;
}

.header__options {
  display: flex;
  align-items: center;
  padding: 0px 30px;
  cursor: pointer;
}

.header__options:hover {
  background-color: #eff2f5;
  border-radius: 10px;
  align-items: center;
  padding: 0 30px;
  border-bottom: none;
}

.header__options > .MuiSvgIcon-root {
  color: gray;
}

.header__options:hover > .MuiSvgIcon-root {
  color: #2e81f4;
}

.header__options--active > .MuiSvgIcon-root {
  color: #2e81f4;
}

.header__options--active {
  border-bottom: 4px solid #2e81f4;
}

.header__right {
  display: flex;
}

.header__info {
  display: flex;
  align-items: center;
}

.header__info > h4 {
  margin-left: 10px;
}
