.login {
  display: grid;
  place-content: center;
  height: 100vh;
}

.login > div > img {
  object-fit: contain;
  height: 70px;
}

.login__logo > .logo__name {
  margin-top: 50px;
  height: 30px;
}

.login > div {
  display: flex;
  flex-direction: column;
}

.login > .login__button {
  width: 400px;
  background-color: #2e81f4;
  color: #eff2f5;
  font-weight: 800;
  margin-top: 400px;
}

.login > .login__button:hover {
  background-color: white;
  color: #2e81f4;
}
