.widget__scroll {
  overflow: hidden;
}

.widget__scroll:hover {
  overflow-y: scroll;
}

.widget__scroll::-webkit-scrollbar {
  width: 12px;
}

.widget__scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.widget__scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
